.header{
    nav{
        background-color: $white;
        transition: $transition;
        margin-bottom: 40px;
    }
    img{
        height: 40px;
    }
}
.show{
    transition: $transition;
}
.hide1{
    transition: $transition;
}