
$white: #fff;
$gray: #58585a;
$purple: #bf1e2d;
$orange: #EC5D3E;
$yellow: #E5DA48;
$green: #8EC351;
$black: #000000;

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;

$font: 'Montserrat', sans-serif;

$transition: .35s ease-in-out;