
$white: #fff;
$gray: #231F20;
$purple: #A52144;
$orange: #EC5D3E;
$yellow: #E5DA48;
$green: #8EC351;

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;

$font: 'Montserrat', sans-serif;

$transition: .35s ease-in-out;